footer
  .container
    br
    hr
    p Copyright &copy; 2018
    br  
    br
script(src='/components/jquery/dist/jquery.js')
script(type='text/javascript', src='/js/bootstrap-datepicker.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='/components/bootstrap/dist/js/bootstrap.js')
script(src='/js/main.js')
