extends partials/header

block content
  head
    style.
      /*! CSS Used from: http://anafi.parrot.com/assets/builds/bundle.css */
      .fixed-background.background{
        background:#18589d;
        position:fixed;
        z-index:0;
        top:0;
        left:0;
        bottom:0;
        width:100%;
        overflow:hidden;
      }

      .fixed-background.background>img{
        width:100%;
        height:auto;
        position:absolute;
        bottom:0;
        left:0;
        will-change:transform;
        z-index:1;
      }

      .fixed-background.background>img:nth-child(5){
        z-index:3;
        bottom:-2px;
      }
      .fixed-background.background>img:nth-child(4){
        bottom:19vw;
      }
      .fixed-background.background>img:nth-child(3){
        bottom:50vw;
      }
      .fixed-background.background>img:first-child,.fixed-background.background>img:nth-child(2){
        bottom:58vw;
      }
      @media (min-width:1441px){
        .fixed-background.background>img:nth-child(4){
          bottom:calc(120px + 7%);
        }
        .fixed-background.background>img:nth-child(3){
          bottom:calc(1210px - 39%);
        }
        .fixed-background.background>img:nth-child(2){
          bottom:calc(750px + 3%);
        }
        .fixed-background.background>img:first-child{
          bottom:calc(740px + 2%);
        }
      }

      @media (min-width:1701px){
        .fixed-background.background>img:nth-child(4){
          bottom:calc(240px - 7vw);
        }
        .fixed-background.background>img:nth-child(3){
          bottom:calc(620px + 2.6vw);
        }
        .fixed-background.background>img:first-child,.fixed-background.background>img:nth-child(2){
          bottom:calc(620px + 7.6vw);
        }
      }

      .fixed-background.background .filler{
        position:absolute;
        z-index:2;
        left:0;
        bottom:-45vh;
        width:100%;
        height:45vh;
        background:#000;
      }

      /* Custom CSS -- smooth image transitions */
      .fixed-background.background>*{
        transition: all 1s cubic-bezier(.21,.57,.17,.99);
      }

      /*! CSS Used from: https://cdn.kastatic.org/genwebpack/prod/en/ef51404934aee86faaf2654970b8b466.0a3a86628abd22d7c375.css */
      h2{
        font-family:inherit;
        font-weight:bold;
        }
      h2{
        font-size:20px;
        margin-bottom:22px;
        }
      p{
        font-size:14px;
        margin:22px 0;
        }

      /*! CSS Used from: https://cdn.kastatic.org/genwebpack/prod/en/stylesheets/about-package/about.7c57382c58f20815d1ab.css */
      .about-shelf{
        padding:80px 0;
        position:relative;
        z-index:20;
        }
      .about-shelf .content{
        box-sizing:border-box;
        margin:0 auto;
        max-width:1200px;
        padding:0 40px;
        }
      .about-shelf h2{
        font-size:36px;
        text-align:center;
        }
      .about-shelf p{
        font-size:18px;
        margin:22px auto;
        max-width:700px;
        }
      .about-shelf .center-button{
        margin:0 -30px;
        text-align:center;
        }
      .content {
        background: rgba(0,0,0,0);
        color: #fff;
      }

  .about-shelf
    .content
      h2 A personalized learning resource for all ages
      p
        | Khan Academy offers practice exercises, instructional videos, and a personalized learning dashboard that empower learners to study at their own pace in and outside of the classroom. We tackle math, science, computer programming, history, art history, economics, and more. Our math missions guide learners from kindergarten to calculus using state-of-the-art, adaptive technology that identifies strengths and learning gaps. We&apos;ve also partnered with institutions like NASA, The Museum of Modern Art, The California Academy of Sciences, and MIT to offer specialized content.
      #kui-button-1.center-button


  figure.background.noselect.nopointer.fixed-background(style='height: 1367.47px;')
    img(src='images/parallax/4.jpg')
    img(src='images/parallax/3.png')
    img(src='images/parallax/2.png')
    img(src='images/parallax/1.png')
    img(src='images/parallax/0.png')
    .filler
  include partials/footer