extends partials/header

block content
  .page-wrapper
    br
    .highlighted-section.articles-top
      .grid-container
        .article-header
          h1.article-header__title #{title}
    .card-list-view
      ul.list-group
        each article, i in articles
          //- TODO: Add column for user rating, author church, notebook (topic), and reading time (user reading speed / word count).
          li.resource-list-item
            a.resource-list-item__inner(href='/articles/'+article._id)
              //- TODO: Replace avatar-male.png with user.image (Use article.author as foreign key to access user table.)
              //- https://www.jstor.org/action/doBasicSearch?Query=what+is+this&acc=off&wc=on&fc=off&group=none
              //- https://study.com/academy/subj/math.html -- maybe use an API to generate mages
              .resource-list-item__author-image
                img(alt='', height='30', width='30', src='/images/avatar-male.png')
              h2.resource-list-item__title= article.title
              span.resource-list-item__data= article.author
              - const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
              - const date = monthNames[article.date.getMonth()] + " " + article.date.getDate() + ", " + article.date.getFullYear();
              span.resource-list-item__data= date
  include partials/footer