.author-modal
  a.author-modal__exit
    svg(width='20px', height='20px', viewBox='0 0 20 20', version='1.1', title='Close' data-toggle='tooltip', data-placement='bottom' data-delay='{"show":"500", "hide":"200"}')
      path(d='M16.1214739,4 L10.5004969,9.62097699 L4.87852611,4 L4,4.87852611 L9.6219708,10.4995031 L4,16.1214739 L4.87852611,17 L10.5004969,11.3780292 L16.1214739,17 L17,16.1214739 L11.379023,10.4995031 L17,4.87852611 L16.1214739,4 Z', sketch:type='MSShapeGroup', fill='#2E2E2C')
  .author-modal__container
    .author-modal__card
      .author-modal__bio-box
        a(href='http://www.faithfulwordbaptist.org/page2.html', target='_blank')
          .author-modal__image
            img(alt='Steven Anderson Photo', src='/images/Steven Anderson.jpg?ts=1484866457&ixlib=rails-2.1.4&w=120&h=120&dpr=2&ch=Width%2CDPR&auto=format%2Ccompress&fit=min')
        h3.author-modal__name Steven Anderson
          a.author-modal__twitter(href='https://twitter.com/sanderson1611', target='_blank')
        .author-modal-bio
          | Steven Anderson is founder of the New IFB movement and pastor of Faithful Word Baptist Church. He is author of several Documentary films and preaching series, including 
          a(href='https://store.framingtheworld.com/products/booksofthess-series', target='_blank') The Books of Thessalonians 
          | , 
          a(href=' https://store.framingtheworld.com/products/tbor-dvd', target='_blank') The Book of Revelation
          | , 
          a(href='https://store.framingtheworld.com/products/att-dvd', target='_blank') After the Tribulation
          | , and 
          a(href='https://store.framingtheworld.com/products/m2zdvd', target='_blank') Marching To Zion
          | .
      .author-modal__recent-articles-box
        .author-modal__recent-articles
          .author-modal__list-item
            a.author-modal__list-item-inner(href='/labs/say-no-you-have-five-seconds-to-kill-it')
              h2.author-modal__list-item-title Say No: You Have Five Seconds to Kill It
              span.author-modal__list-item-data John Piper
              span.author-modal__list-item-data Aug 21, 2018
          .author-modal__list-item
            a.author-modal__list-item-inner(href='/articles/god-sends-you-back-to-school')
              h2.author-modal__list-item-title God Sends You Back to School
              span.author-modal__list-item-data John Piper
              span.author-modal__list-item-data Aug 21, 2018
          .author-modal__list-item
            a.author-modal__list-item-inner(href='/messages/if-i-could-start-all-over')
              h2.author-modal__list-item-title If I Could Start All Over
              span.author-modal__list-item-data John Piper
              span.author-modal__list-item-data Aug 20, 2018
          .author-modal__list-item
            a.author-modal__list-item-inner(href='/messages/he-knew-what-was-in-man/excerpts/fully-known-and-truly-loved')
              h2.author-modal__list-item-title Fully Known and Truly Loved
              span.author-modal__list-item-data John Piper
              span.author-modal__list-item-data Aug 20, 2018
          .author-modal__list-item
            a.author-modal__list-item-inner(href='/interviews/is-it-wrong-for-men-to-have-long-hair')
              h2.author-modal__list-item-title Is It Wrong for Men to Have Long Hair?
              span.author-modal__list-item-data John Piper
              span.author-modal__list-item-data Aug 20, 2018
          .author-modal__list-item
            a.author-modal__list-item-inner(href='/labs/avoid-the-first-step-to-defeating-lust')
              h2.author-modal__list-item-title Avoid: The First Step to Defeating Lust
              span.author-modal__list-item-data John Piper
              span.author-modal__list-item-data Aug 18, 2018
      a.author-modal__more-button(href='/authors/john-piper')
        span More by this author
          svg(width='20px', height='20px', viewBox='0 0 20 20', version='1.1')
            title Arrow
            path(d='M12.5150732,6.35018478 C12.3229538,6.15543439 12.3232472,5.83997845 12.5157285,5.64559421 C12.7082098,5.45120998 13.0199903,5.45150681 13.2121097,5.6462572 L17.6528114,10.1477717 L18,10.4997148 L17.6528319,10.8516786 L13.2121302,15.3537221 C13.0200221,15.5484839 12.7082416,15.5487993 12.515749,15.3544265 C12.3232564,15.1600537 12.3229447,14.8445977 12.5150528,14.6498359 L16,11 L2,11 L2,10 L16,10 L12.5150732,6.35018478 L12.5150732,6.35018478 L12.5150732,6.35018478 Z', sketch:type='MSShapeGroup', fill='#333333')
