extends partials/header

block content
  .container
    br
    h1 #{title}
    ul.list-group
      each sermon, i in sermons
        li.list-group-item
          a(href='/messages/'+sermon._id)= sermon.title
  include partials/footer
